body{
    color:black;
    font-family: cursive;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
  
    
    
}
h1, h2, h5{
    font-size: 20px; 
}
p{
    font-size: 10px;
    font-style: oblique;
     
}
.heading img{
    width: 0.5cm;
    height: 0.5cm;
}
.navbar-light{
    background-color:deepskyblue;
}
ul{
    text-decoration: none;
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}
a:hover, a:active{
    background-color:white;
}
form{
    margin-left: 600px;
}

.card-title{
    font-family: fantasy;

}

.card-container {
    padding: 10px;
}

.row {
    padding: 5px;
}

.container {
    margin-top: 380px;
}